[user]
	email = mail@subinsb.com
	name = Subin Siby
[gitreview]
	remote = origin
	username = subins2000
[core]
	eol = lf
	autocrlf = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	s = status
	ci = commit
	ch = checkout
	br = branch
	rb = rebase
	p = pull
	last = log -1 HEAD
[init]
	defaultBranch = main
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
